<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by imc (imc) -->
<idspace id="Config">
	<Class ClassID="1" ClassName="GuildQuestLV" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="2" ClassName="HideCompletedQuest" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="3" ClassName="ShowExpValue" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="4" ClassName="ShowItemAdd" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="5" ClassName="NotUseFieldEvent" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="6" ClassName="ViewServerFPS" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="7" ClassName="ViewMonsterInfo" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="8" ClassName="MinPksDelay" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="9" ClassName="MaxPksDelay" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="10" ClassName="UseSnap" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="UPDATE_SNAP"/>
	<Class ClassID="11" ClassName="ChatHistoryCnt" Type="Number" DefNumValue="50" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="12" ClassName="ViewSkillRange" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="13" ClassName="ExpLock" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="14" ClassName="ArcherAutoShot" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="15" ClassName="ViewCharInfoBase" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="16" ClassName="CraftMaterial" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="17" ClassName="ShowChatBalloon" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="18" ClassName="ChatRejectWhisper" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="19" ClassName="ChatRejectGroup" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="20" ClassName="HideGivenName" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="21" ClassName="ShowQuestGuide" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="22" ClassName="EnableWarfog" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="23" ClassName="EnableBloom" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="24" ClassName="EnableFXAA" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="25" ClassName="EnableGLOW" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="26" ClassName="EnableDepth" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="27" ClassName="QuestShareFolded" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="28" ClassName="UsePartySearchCondition" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="29" ClassName="PartySearch_QuestShare" Type="Number" DefNumValue="-1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="30" ClassName="PartySearch_ExpShare" Type="Number" DefNumValue="-1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="31" ClassName="PartySearch_ItemShare" Type="Number" DefNumValue="-1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="32" ClassName="Friend_ShowOnlyOnline" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="33" ClassName="EnableSoftParticle" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="34" ClassName="ShowMicFrame" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="36" ClassName="MakeLogoutPC" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>		
	<Class ClassID="42" ClassName="ShowOtherPCName" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="43" ClassName="ControlMode" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="UPDATE_CONTROL_MODE"/>
	<Class ClassID="44" ClassName="MinimapSize" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="45" ClassName="EnableHighTexture" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="46" ClassName="JoyPadVibration" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="47" ClassName="ShowNearParty" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="48" ClassName="EnableOtherPCEffect" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="UPDATE_OTHER_PC_EFFECT"/>
	<Class ClassID="49" ClassName="Guild_ShowOnlyConnected" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="50" ClassName="ChatFrameSizeWidth" Type="Number" DefNumValue="500" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="51" ClassName="ChatFrameSizeHeight" Type="Number" DefNumValue="230" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="52" ClassName="EnableNaturalEffect" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="UPDATE_NATURAL_EFFECT"/>
	<Class ClassID="53" ClassName="UseCamShockWave" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="54" ClassName="EnableDeadParts" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="UPDATE_DEAD_PARTS"/>
	<Class ClassID="55" ClassName="EnableCharSilhouette" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="UPDATE_SILHOUETTE"/>
	<Class ClassID="57" ClassName="ToggleBottomChat" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="58" ClassName="friendNoitce" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="59" ClassName="guildNoitce" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="60" ClassName="EnableOtherPCDamageEffect" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="UPDATE_OTHER_PC_DAMAGE_EFFECT"/>
	<Class ClassID="61" ClassName="UseItemDropEffect" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="62" ClassName="HoldMainChatFrame" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="63" ClassName="ShowHpSpGauge" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="64" ClassName="PoisonPotHUD" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="65" ClassName="NecronomiconHUD" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="66" ClassName="PumpRecipe" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="67" ClassName="EnableHitGlow" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="68" ClassName="EnableAutoCellSelect" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="69" ClassName="ShowPartyName" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="70" ClassName="OnlyOnlineGuildMember" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="71" ClassName="ShowDropItemName" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="72" ClassName="SelectAchieveKey" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="73" ClassName="EnableRenderShadow" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="UPDATE_ENABLE_RENDERSHADOW"/>	
	<Class ClassID="74" ClassName="BattleMsg_Damage_others" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="75" ClassName="BattleMsg_Damage_my" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="76" ClassName="BattleMsg_Buff" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="77" ClassName="BattleMsg_Debuff" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="78" ClassName="BattleMsg_Skill" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="79" ClassName="BattleMsg_Resurrect" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="80" ClassName="BattleMsg_Resurrect_party" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="81" ClassName="ShowAllWorldMap" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="82" ClassName="EnableOtherFluting" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="83" ClassName="ShowPerformanceValue" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="84" ClassName="ShowCurrentGetVis" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="85" ClassName="ShowCurrentGetExp" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="86" ClassName="ShowSummonedMonName" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="87" ClassName="MarketSellFeeValue1" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="88" ClassName="MarketSellFeeValue2" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="89" ClassName="MarketSellFeeValue3" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="90" ClassName="MarketSellFeeValue4" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="91" ClassName="EnableOtherCharBalanceVolume" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
<Class ClassID="92" ClassName="EnableNearObjectPriorityTarget" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="96" ClassName="EnableAnimateItemIllustration" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="97" ClassName="EnableAnimateBackgroundIllustration" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="98" ClassName="ShowPCBangTimer" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="93" ClassName="ViewTranscendStyle" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="94" ClassName="ViewReinforceStyle" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="95" ClassName="ViewGradeStyle" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="99" ClassName="ShowGuildInColony" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="100" ClassName="InvOption_Equip_All" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="101" ClassName="InvOption_Equip_Normal" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="102" ClassName="InvOption_Equip_Magic" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="103" ClassName="InvOption_Equip_Rare" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="104" ClassName="InvOption_Equip_Unique" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="105" ClassName="InvOption_Equip_Legend" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="106" ClassName="InvOption_Card_All" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="107" ClassName="InvOption_Card_Red" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="108" ClassName="InvOption_Card_Blue" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="109" ClassName="InvOption_Card_Purple" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="110" ClassName="InvOption_Card_Green" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="111" ClassName="InvOption_Card_Legend" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="112" ClassName="InvOption_Etc_All" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="113" ClassName="InvOption_Etc_Usual" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="114" ClassName="InvOption_Etc_Quest" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="115" ClassName="InvOption_Etc_Etc" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="116" ClassName="InvOption_Etc_Collect" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="117" ClassName="InvOption_Etc_Special" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="118" ClassName="InvOption_Etc_Mineral" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="119" ClassName="InvOption_Gem_All" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="120" ClassName="InvOption_Gem_Red" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="121" ClassName="InvOption_Gem_Blue" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="122" ClassName="InvOption_Gem_Yellow" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="123" ClassName="InvOption_Gem_Green" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="124" ClassName="InvOption_Gem_White" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="125" ClassName="InvOption_Gem_Skill" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="126" ClassName="InvOption_Card_Etc" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="127" ClassName="InvOption_Equip_Upgrade" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="128" ClassName="InvOption_Equip_Random" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="129" ClassName="ShowTooltipInWarningBox" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="130" ClassName="ViewPossibleQuest" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="131" ClassName="ViewProgressQuest" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="132" ClassName="ViewAbandonQuest" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="133" ClassName="ShowGuildInColonyEffectCostume" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="134" ClassName="BattleMsg_DPS" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="135" ClassName="ShowEquipItemComparison" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
<Class ClassID="136" ClassName="EnableSkillGizmoTargetAim" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="UPDATE_GIZMOTARGETAIM"/>
	<Class ClassID="137" ClassName="ShowAlwaysPcSkillMonster" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="138" ClassName="MaintainTargetedSkillUI" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="UPDATE_MAINTAIN_TARGETEDSKILL_UI"/>
	<Class ClassID="139" ClassName="EnableEffectTransparency" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="140" ClassName="EnableChatFrameMotionEmoticon" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="141" ClassName="UnVisibleTextEffect" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="142" ClassName="showUnConfirmedWarp" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="143" ClassName="EnableDayLight" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="144" ClassName="ShowGuildInColonyBattleMessage" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="145" ClassName="ShowGuildInColonyGuildName" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="146" ClassName="ShowGuildInColonyTeamName" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="147" ClassName="ShowGuildInColonyEnemyGuildEmblem" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="148" ClassName="ShowGuildInColonyPartyHpGaugeSizeType" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="149" ClassName="ShowGuildInColonyPartyHpGaugeSmallSize" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="150" ClassName="ShowGuildInColonyMyBuff" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="151" ClassName="ShowGuildInColonyPartyBuff" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="152" ClassName="ShowGuildInColonyGuildBuff" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="153" ClassName="ShowGuildInColonyEnemyBuff" Type="Number" DefNumValue="0" DefStrValue="None" ClientScp="None"/>
	<Class ClassID="155" ClassName="ShowCoinGetGauge" Type="Number" DefNumValue="1" DefStrValue="None" ClientScp="UPDATE_SHOW_COIN_GET_GAUGE"/>
</idspace>
